<html>

<body>
<div>
    <form method="post">
        <input type="text" name="studentName" placeholder="Введите сообщение" />
        <input type="text" name="studentAge" placeholder="Тэг">
        <button type="submit">Добавить</button>
    </form>

{{#clients}}
    <div>
        <b>{{id}}</b>
        <span>{{clientName}}</span>
        <span>{{clientEmail}}</span>
        <span>{{clientNumber}}</span>
        <i>{{clientText}}</i>
    </div>
{{/clients}}
    <!--clientName, clientEmail, clientNumber, clientText-->
</body>
</html>